[Unit]
Description=Simple FastAPI Streaming example

[Service]
WorkingDirectory=/usr/local/lib/fastapi/
Environment=PYTHONUNBUFFERED=1
ExecStart=/usr/local/lib/fastapi/venv/bin/python3 -m uvicorn main:app --host 0.0.0.0 --workers 1 --port 80

Restart=on-failure

[Install]
WantedBy=default.target